.alert {
  display: flex;
  width: 100%;
  border-radius: 0.25rem;
  transition: all 0.7s ease-in-out;
  align-items: center;
  
  &__icon {
    width: auto;
    height: 1.75rem;
    margin: .5rem 1rem;
  }

  &__text {
    font-size: 1rem;
  }
}
