.alert {
  display: flex;
  border-width: 2px;
  border-style: solid;
  border-color: none;
  border-radius: 0.25rem;
  transition: all 0.7s ease-in-out;

  &__icon {
    width: auto;
    height: 1.75rem;
    margin: 0.5rem 1rem;
  }

  &__text {
    display: inline-flex;
    margin: 0.5rem;
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
