.bank {
  &__board {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: $color-primary;
    border-radius: $border-radius;

    &__container {
      display: flex;
      justify-content: center;
      flex-basis: 50%;
    }

    &__count {
      font-family: $font-primary;
      font-weight: $font-weight;
    }

    &__img {
      height: 3rem;
    }
  }
}
