.bank__board {
  display: inline-flex;
  width: 90vw;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  background-color: wheat;

  &__container {
  }

  &__text {
    display: inline;
    font-weight: 700;
  }

  &__img {
    height: 3rem;
  }
}
