.page__container {
  width: 100vw;
  height: 100vh;

  text-align: center;
}

.menu-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px;
  }
  &__heading {
  }
  &__description {
  }
}

.menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  &__graphic {
    &-container {
      background-color: cadetblue;
      width: 30vw;
      height: 50vh;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
  }
  &__button {
    &--rules{
      position: absolute;
      right: 32px;
      bottom: -16px;
      height: 32px;
      width: 32px;
    }
  }
}

.footer {
  padding: 32px;
  background-color: cadetblue;
}
