.page__container {
  height: 100vh;
  z-index: -1;
  background: url(/static/images/ui/background.png) no-repeat center;
  background-size: cover;
}

.menu-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 0 60px 60px;
  &__header {
    font-family: Roboto;
    font-weight: 700;
  }
}

.menu {
  &__buttons {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-bottom: 55vh;
    text-align: start;
    &__button {
      border: none;
      outline: none;
      margin-top: 50px;
      font-size: 24px;
      font-family: Roboto;
      font-weight: 700;
      color: #000;
      text-align: start;
      background: none;
      &:hover {
        color: #f00;
        cursor: pointer;
      }
    }

    &--start {
      position: absolute;
      left: 40vw;
      top: 75vh;
      width: 25%;
      height: 13%;
      border: none;
      border-radius: 8px;
      color: #fff;
      font-family: Roboto;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 0.3em;
      background: #203739;
      &:hover {
        background-color: #f00;
        cursor: pointer;
      }
    }
  }
}

.footer {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
}
