.mode-players-wrapper {
  display: inline-flex;
  
}
.mode-form {
  &__add-btn{
    width: 312px;
    height: 632px;
    border-radius: 16px;
    border: 1px dashed #555757;
  }
  &__add-player {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 2px solid black;
    margin: 5px;
    background-color: #fefefe;
    border-radius: 16px;
  }
  // Styles for name input
  &__input {
    padding: 8px;
    border: none;
    border-bottom: 1px solid #9ca4a4;
    text-align: center;
  }
  &__color-wrapper {
    display: flex;
  }
  &__color-label {
    width: 50px;
    height: 50px;
  }
  &__avatars {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
  }
  &__avatar {
    width: 80px;

    &-wrapper {
      margin: 0px 20px;
    }

    &-label {
      display: flex;
      width: 110px;
      height: 110px;
      justify-content: center;
    }

    &-radio {
      display: none;
    }

    &-radio:checked + .mode-form__avatar-label {
      border: 2px solid black;
      border-radius: 50%;
    }
  }

  // Styles for colors
  &__colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__color-wrapper {
    display: flex;
    margin: 10px 20px;
  }
  &__color-label {
    width: 110px;
    height: 110px;
    border-radius: 50%;
  }
  
  &__color-radio {
    display: none;
  }
  
  &__color-radio {
    &:checked + .mode-form__color-label {
      border: 2px solid black;
      box-shadow: 0px 0px 0px 3px #fff inset;
    }
  }
  
  // Styles for AI Player
  &__ai-input {
    margin: 10px 20px;
  }
}


.mode-inputs-wrapper {
  display: flex;
  height: 600px;
}
