.board-container {
  display: flex;
  border-radius: $border-radius;
  height: 40vh;
  // flex-direction: column;
  // justify-content: space-around;
  // flex-wrap: wrap;
}
.players {
  &__data {
    display: flex;
    flex-direction: column;
    margin: 50px;
    &__avatar {
      width: 4rem;
    }
    &__name {
      font-size: 50px;
    }
  }
  &__herd {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    &__item {
      display: flex;
      &__img {
        height: 4rem;
      }
    }
  }
}
