.board-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.players {
  &__data {
    display: flex;
    margin: 50px;
    &__avatar {
      width: 4rem;
    }
    &__name {
      font-size: 50px;
    }
  }
  &__herd {
    display: flex;
    align-items: center;
    &__img {
      width: 3rem;
      margin-left: 50px;
    }
    &__count {
      font-size: 30px;
    }
  }
}
