.player-panel {
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  &__board {
    position: relative;
    width: 60vw;
    padding: 0.5rem;
    border-right: 1px solid black;
  }

  &__details {
    display: inline-block;
    margin-left: 1rem;
  }

  &__name {
    font-size: 1.7rem;
    font-weight: 700;
  }

  &__time {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  &__herd {
    display: inline-flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: space-around;
  }

  &__image {
    width: auto;
    height: 4rem;
  }

  &__result {
    // position: absolute;
    &--dice {
      margin-top: 2rem;
    }

    &--gain {
      margin-top: 2rem;
    }

    &--container {
      display: inline;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
  }
}

.avatar-icon {
  display: inline;
  height: 3rem;
}
