//Fonts
$font-family: 'Roboto', sans-serif;
$font-size: 24px;
$font-weight-primary: 700;
$font-weight-secondary: 500;
$color: #203739;

//Colors
$color-primary: #fefefe;
$color-hover: #f00;
$color-title: #808787;

//Border
$border-radius: 16px;
